{% extends 'index.html' %}
{% block 'body' %}
{% if user.is_authenticated %}
<div class="information-container">
    <h2>Hello {{ user.username }}, <br>
        <ul class="inf-list">
            <li>If you want to play our little trivia game, you can press the "Play" button.</li>
            <li>If you want to see or edit your account details, you can press the "Profile" button.</li>
            <li>The "Home" button will navigate, you to the home page.</li>
            <li>If you want to leave you account, you can press the "Log Out" button.</li>
        </ul>
    </h2>
</div>
{% else %}
<div class="information-container">
    <h2>To access all of the website features, log in or sign up!</h2>
</div>
{% endif %}
{% endblock %}