{% extends 'index.html' %}
{% block 'body' %}
<div class="gameContainer">
    <div class="questionContainer">
        {{ playing_question.question }}
    </div>
    <div class="answersContainer">
        {% for ans in answers %}
        <div class="answer">
            {{ ans }}
        </div>
        {% endfor %}
    </div>
    <div class="jokers">
        <a href="{% url 'fifty-fifty' playing_question.id %}">50/50</a>
        <a href="{% url 'right-answer' playing_question.id %}">Right Answer</a>
        <a href="{% url 'remove-answer' playing_question.id %}">Remove Answer</a>
    </div>
</div>
{% endblock %}